ion-content{
    --ion-background-color:#E1EAF9!important;
}
ion-header{ background-color:peachpuff;


}
ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;}
    // ion-card{
    //     --ion-background-color:transparent;
    //     box-shadow: none!important;
    // }
