<ion-header class="ion-border">
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="login"> </ion-back-button>
      <ion-title>REGISTE</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
      <ion-card-header>
          <ion-card-title>
              REGISTE
          </ion-card-title>
          <ion-card-subtitle>
              créer votre compte
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <form class="form" #form="ngForm" (ngSubmit)="registre(form)">
          <ion-item>
              <ion-input name="name" type="text"  ngModel placeholder="Nom">
                  <ion-icon name="person-outline"></ion-icon>
              </ion-input>
          </ion-item>
          <ion-item>
              <ion-input name="phon" type="text" ngModel placeholder=" 90 90 88 88">
                  <ion-icon name="call-outline"></ion-icon>
              </ion-input>
          </ion-item>
          <ion-item>
              <ion-input name="email" type="mail" ngModel placeholder="vous@vous.com">
                  <ion-icon name="mail-outline"></ion-icon>
              </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" ngModel placeholder="**************">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
        </ion-item>
          <div class="sign-btn-wrap">
              <ion-button shape="round"fill="solid"class="sign-btn" type="submit" (click)="conn">S'inscrire</ion-button>
          </div>
          </form>
          <div class="text-tag">
              <span>S'INCRIRE AVEC</span>
          </div>
  
          <div class="social-btns">
              <ion-button fill="clear" class="facebookbtn -ion-no-padding">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button fill="clear" class="facebookbtn -ion-no-padding">
                <ion-icon name="logo-google"></ion-icon>
              </ion-button>
          </div>
      </ion-card-content>
  </ion-card>

  
</ion-content>